$padding: 0 4px; // size_4
$height: 40px; // size
$title-height: 24px; // size
$title-line: 24px; // size
$title-font: 16px; // size
$desc-height: 16px; // size
$desc-line: 16px; // size
$desc-font: 12px; // size

.i-combin-title-desc {
    padding: $padding;
    height: $height;
}

.i-combin-title-desc--title {
    height: $title-height;
    line-height: $title-line;
    font-size: $title-font;
}

.i-combin-title-desc--desc {
    height: $desc-height;
    line-height: $desc-line;
    font-size: $desc-font;
}